<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <title>Venda Fácil</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand d-flex align-items-center" href="#">
          <img src="https://w7.pngwing.com/pngs/161/748/png-transparent-businessperson-computer-icons-sales-sales-rep-blue-text-logo.png" width="40" height="40" class="d-inline-block align-top mr-2" alt="">
          Venda Fácil
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(página atual)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
              </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
              <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Pesquisar</button>
          </form>
      </div>
  </nav>
  

    <div class="container-fluid">

        <div class="row">
        <div class="col-md-3">
            <ul class="list-group" style="margin-top: 10px;">

                <li class="list-group-item active"> <i class="fa-solid fa-gears"></i> Funcionalidades </li>
                <a href="/cadastroVenda"><li class="list-group-item">Efetuar Venda</li></a>
                <a href="/listarVenda"><li class="list-group-item">Listar Vendas</li></a>
                <a href="/cadastroEntrada"><li class="list-group-item">Efetuar Entrada de Produto</li></a>
                <a href="/listarEntrada"><li class="list-group-item">Listar Entradas de Produtos</li></a>

                <li class="list-group-item active"> <i class="fa-solid fa-plus"></i> Cadastros </li>
                <a href="/cadastroEstado"><li class="list-group-item">Cadastro de Estado</li></a>
                <a href="/cadastroCidade"><li class="list-group-item">Cadastro de Cidade</li></a>
                <a href="/cadastroFuncionario"><li class="list-group-item">Cadastro de Funcionário</li></a>
                <a href="/cadastroCliente"><li class="list-group-item">Cadastro de Cliente</li></a>
                <a href="/cadastroFornecedor"><li class="list-group-item">Cadastro de Fornecedor</li></a>
                <a href="/cadastroProduto"><li class="list-group-item">Cadastro de Produto</li></a>

                <li class="list-group-item active"> <i class="fa-solid fa-rectangle-list"></i> Listas </li>
                <a href="/listarEstado"><li class="list-group-item">Lista de Estados</li></a>
                <a href="/listarCidade"><li class="list-group-item">Lista de Cidades</li></a>
                <a href="/listarFuncionario"><li class="list-group-item">Lista de Funcionários</li></a>
                <a href="/listarCliente"><li class="list-group-item">Lista de Clientes</li></a>
                <a href="/listarFornecedor"><li class="list-group-item">Lista de Fornecedores</li></a>
                <a href="/listarProduto"><li class="list-group-item">Lista de Produtos</li></a>
              </ul>
        </div> <!-- "col-md" serve para ser responsivo, tanto pra PC quanto pra celular-->
        <div class="col-md-9">
          <h1>Bem-vindo ao Venda Fácil</h1>
          <p>O sistema ideal para simplificar e otimizar suas vendas!</p>
          <p>Desenvolvido em 2024 por Gustavo, o Venda Fácil é uma solução completa e intuitiva para gerenciar todos os aspectos do seu negócio.</p>
          <ul>
              <li><strong>Cadastro eficiente:</strong> Registre estados, cidades, funcionários, clientes, fornecedores e produtos de forma rápida e fácil.</li>
              <li><strong>Gestão de vendas:</strong> Efetue e acompanhe vendas com precisão, garantindo controle total sobre as operações comerciais.</li>
              <li><strong>Controle de estoque:</strong> Monitore entradas e saídas de produtos, mantendo seus estoques sempre atualizados.</li>
              <li><strong>Interface amigável:</strong> Navegue pelo sistema com facilidade graças a uma interface moderna e intuitiva, feita para você.</li>
          </ul>
          <p>Com o Venda Fácil, você tem tudo o que precisa para gerenciar suas vendas e operações comerciais em um único lugar!</p>          
        </div>
    </div>
    </div>


    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>